.sec1 {
    background: url('../../assets/imgs/background4.jpg') no-repeat;
    width: 100%;
    background-size: cover;
    // background-position: center;
    height: 100vh;
    min-width: 1850px;
}

.text-greet {
    position: absolute;
    margin: 0;
    font-size: 75px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // font-family: 'Permanent Marker', cursive;
    font-family: 'Shadows Into Light', cursive;
    font-weight: normal;
    text-align: center;
    
}

.content {
    margin:0;

    & p {
        width: 900px;
        margin: 30px auto;
        padding: 0px;
        text-align: justify;
        font-size: 20px;
        line-height: 30px;
        height: 100%;
    }
}

.sec2{
    background:linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.7)), url(../../assets/imgs/background5.jpg);
    background-size: cover;
    min-height: 100%;
    height: auto;
    margin-top: -30px;
}

.content-img1 img {
    content: url(../../assets/imgs/background3.jpg);
    display: block;
    max-width: 50%;
    max-height: 700px;
    width: auto;
    height: auto;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    border-radius: 8px;
    box-shadow: #555 1px 1px 8px 1px;
    box-sizing: border-box;
}


