<section class="sec1">
  <h1 class="text-greet">The Collective</h1>
</section>

<div class="bg1"></div>
<div class="bg2"></div>

<section class="sec2">
  <div class="container">
  <div id="left">
    <h1>CyrptoCurrencies</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quo earum autem nostrum, veritatis et facere. Itaque earum
      maiores dolore sapiente unde ut nostrum. Tenetur, voluptatibus consectetur! Maxime, error nesciunt.</p>
  </div>
  <div id="right">
      <ul>
        <li>
          <img src="../../assets/imgs/sec2pic1.svg">
          <span>
            <strong>Ethos</strong>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur, sequi!</p>
          </span>
        </li>
        <li>
          <img src="../../assets/imgs/sec2pic2.svg">
          <span>
            <strong>AppCoins</strong>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur, sequi!</p>
          </span>
        </li>
        <li>
          <img src="../../assets/imgs/sec2pic3.svg">
          <span>
            <strong>IOTA</strong>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur, sequi!</p>
          </span>
        </li>
      </ul>
  </div>
</div>  
</section>

<section class="sec3">
  <div class="cta one">
    <h1>Point 1</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nostrum nihil dignissimos! Quis, nostrum iure!</p>
  </div>
  <div class="cta two">
    <h1>Point 2</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem id asperiores quo est? Rerum, dolorum?</p>
  </div>
  <div class="cta three">
    <h1>Point 3</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis saepe sapiente ipsum autem ea fugiat!</p>
  </div>
</section>

<section class="sec4">
  <div class="arrow">
    &#8682;
  </div>
  <div class="arrowSpin">
    &#8635;
  </div>
</section>

<section class="sec5">
  <input type="checkbox" id="coding">
  <label for="coding" name="skills">Coding </label>
</section>