<section class="sec1">
  <h1 class="text-greet">Clarence Chok Photography</h1>
</section>


<section class="sec2">
  <div class="content">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id explicabo nemo modi dolorem libero assumenda perferendis
      corrupti commodi architecto similique, quas amet fugiat quo autem sunt dolor totam. Atque vel architecto fugiat cumque
      iste nostrum provident doloremque, sit expedita dolorem commodi quisquam eveniet. Unde quasi nisi ad. Assumenda neque
      ut cupiditate ducimus, sed, aspernatur quae animi laborum eum sapiente quia. Vero qui obcaecati voluptatibus amet ducimus
      aperiam, officiis voluptatem repudiandae nesciunt atque veniam excepturi laboriosam.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id explicabo nemo modi dolorem libero assumenda perferendis
      corrupti commodi architecto similique, quas amet fugiat quo autem sunt dolor totam. Atque vel architecto fugiat cumque
      iste nostrum provident doloremque, sit expedita dolorem commodi quisquam eveniet. Unde quasi nisi ad. Assumenda neque
      ut cupiditate ducimus, sed, aspernatur quae animi laborum eum sapiente quia. Vero qui obcaecati voluptatibus amet ducimus
      aperiam, officiis voluptatem repudiandae nesciunt atque veniam excepturi laboriosam.</p>
  </div>

  <div class="content-img1">
    <img>
  </div>

</section>