 $navbarTransition: 350ms;
 
 nav {
    // @include nav-foundation;
    position: fixed;
    z-index: 100;
    display: flex;
    width: 100%;
    justify-content: space-between;
    transition: $navbarTransition;

    & .logo {
    // @include v-align();
    font-size: 30px;
    transition: 1s;
    text-transform: uppercase;
    font-family: 'Shadows Into Light', cursive;
    margin: 0 0 0 60px;
    }

    & .navbarUl {
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
        width: 80%;

        & li {
            list-style: none;
            width: 100px;
            margin: 0 15px;

            & a {
                color: black;
                padding: 12px 30px;
                text-decoration: none;
                text-transform: uppercase;
                transition: .3s;
            }

            & a.gallery {
                // background:  #1aa3ff;
                background: #E2472f;
                color: #fff;
                border-radius: 6px;
            }
        }

        & li:last-child {
            margin: 0 60px;
        }
    }
}

.homeTab {
    color: rgb(10, 176, 241) !important;
}

nav.black {

    transition: $navbarTransition;

    background:rgba(0,0,0,0.7);

    & .logo {
        color: white;
    }

    & ul li a {
        color: white;
    }
}
