@mixin v-align($position: absolute){
    position: $position;  top: 50%;  
    transform: translateY(-50%);
    -ms-transform:translateY(-50%); /* IE */
    -moz-transform:translateY(-50%); /* Firefox */
    -webkit-transform:translateY(-50%); /* Safari and Chrome */
    -o-transform:translateY(-50%);
}

@mixin nav-foundation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 10px 50px;
    box-sizing: border-box;
    transition: .3s;
}

 nav {
    @include nav-foundation;
    z-index: 100;
    & .logo {
    @include v-align();
    font-size: 20px;
    transition: 1s;
    }

    & ul {
        position: absolute;
        // @include v-align();
        top: 50%;
        bottom: 50%;
        left: 100px;
        list-style: none;
        margin: 0;
        display: flex;
        width: 90%;
        align-items: center;

        & li {
            list-style: none;

            & a {
                color: black;
                padding: 12px 30px;
                text-decoration: none;
                text-transform: uppercase;
                transition: .3s;
            }

            & a.game {
                // background:  #1aa3ff;
                background: #E2472f;
                color: #fff;
                border-radius: 6px;
            }
        }

        li:last-child {
            margin-left: auto;
        }
    }
}

nav.black {
    @include nav-foundation;
    background:rgba(0,0,0,0.7);

    & .logo {
        color: white;
    }

    & ul li a {
        color: white;
    }
}
